/*! base css start */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap");

/*! reset css start*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}
button {
  cursor: pointer;
  border: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.img-fluid {
  width: 100%;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  outline: none;
  border: 1px solid #dee0ea !important;
  padding: 8px 8px 8px 15px;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  font-weight: 500;
  border: 1px solid black;
  transition: 0.2s ease all;
  background-color: #fb3640;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #fff;
  color: #fb3640;
}

/*? responsive container  start*/
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 350px;
  }
}
/*? responsive container  end*/
/*! reset css end*/

/*! header start */

header {
  background-color: #0e2954;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header-left i {
  font-size: 35px;
}
.header-row {
  display: flex;
  align-items: center;
  height: 90px;
  width: 100%;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper .bi-list {
  display: none;
}
.header-center .navigation .menu-list {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.header-center .navigation .menu-list i {
  font-size: 15px;
  font-weight: 500;
}
.header-center .menu-list .menu-list-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 90px;
}
.header-center .menu-list .menu-link {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.2px;
  position: relative;
}

.header-center .menu-list i {
  font-size: 12px;
}

.header-center .menu-list .menu-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: red;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  transition: 0.2s ease width;
}
.header-center .menu-list .menu-list-item:hover .menu-link::after {
  width: 100%;
}

.header-center .menu-list .menu-link.active::after {
  width: 100%;
}

/*! header responsive start */
@media (max-width: 850px) {
  .header-center {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #dee0ea;
    z-index: 2;
    transition: 0.5s ease all;
  }

  .header-mobile .bi-list {
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    color: #fff;
  }
  .header-center .menu-list {
    flex-direction: column;
    padding: 50px 75px;
  }
}
/*! header responsive end */
/*! dropdown menu start */
.menu-dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: -30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 1;
}
.menu-dropdown-content {
  width: 220px;
  background-color: #fb3640;
  border: 1px solid #fb3640;
  display: flex;
  flex-direction: column;
  padding: 18px 0;
}
.menu-dropdown-content a {
  display: flex;
  padding: 4px 30px;
  font-size: 25px;
  color: #fff;
  transition: all 0.2s ease;
}
.menu-dropdown-content a:hover {
  color: black;
}
.header-center .menu-list .menu-list-item:hover .menu-dropdown-wrapper {
  opacity: 1;
  visibility: visible;
}

/*! dropdown menu end */
/*! megadropdown menu end */
.menu-dropdown-megamenu {
  background-color: #fb3640;
  border: 1px solid #fb3640;
  padding: 22px;
  display: flex;
  column-gap: 50px;
}
.megamenu-wrapper .menu-dropdown-wrapper {
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.megamenu-wrapper .megamenu-wrapper {
  position: static !important;
}
.megamenu-wrapper .megamenu-links {
  display: flex;
  column-gap: 50px;
}
.megamenu-wrapper .megamenu-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.megamenu-wrapper .megamenu-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.megamenu-wrapper .megamenu-menu-list a {
  font-size: 20px;
  transition: 0.2s ease all;
}
.megamenu-wrapper .megamenu-menu-list a:hover {
  color: #000;
}
.megamenu-wrapper .megamenu-single-title {
  font-size: 18px;
  font-weight: 500;
}
.megamenu-wrapper .megamenu-single-subtitle {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
}
.megamenu-wrapper .megamenu-single-button {
  margin-top: 5px;
}
.telephone {
  height: 50%;
}
/*! megadropdown menu end */

.header-right .header-right-links {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.header-right .bi-person {
  font-size: 23px;
}
.header-right i {
  font-size: 18px;
}
.header-right .header-cart {
  position: relative;
}

.header-right .header-cart-link .header-cart-count {
  width: 16px;
  height: 16px;
  background-color: red;
  color: #fff;
  font-size: 10px;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

/*! header end */
/*! section start */
.background-img {
  background-color: #0e2954;
  overflow-x: hidden;
  background-image: url(../img/arkaplan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 110vh;
  margin-top: -220px;
}
.img-desc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0;
  height: 120vh;
}

.img-desc span {
  font-size: 32px;
  font-weight: 500;
  color: #fb3640;
  text-transform: uppercase;
}

.img-desc h2 {
  font-size: 65px;
  font-weight: 600;
  color: #fb3640;
  text-transform: uppercase;
  margin: 20px 0;
}
/*! section end */
/*! categories start */
.categories {
  margin: 80px 0;
}
.section-title {
  text-align: center;
  margin: 50px;
  color: #fb3640;
  width: 100%;
  border-radius: 20px;
}
.section-title h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 4px;
  color: #fb3640;
}
.categories .section-title p {
  font-size: 18px;
  line-height: 0.8;
  color: #fb3640;
}
.categories .category-list {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
  position: relative;
}
.categories .category-list .category-item {
  background-color: #f5f5f5;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
}
.category-item .category-title {
  font-size: 30px;
  color: #fb3640;
}
.categories .category-item a {
  display: inline-block;
  padding: 10px;
  text-align: center;
  margin: 5px 0;
  font-weight: 400;
  font-size: 14px;
}

.category-item .category-image {
  width: 100%;
  transition: transform ease 0.2s;
}
.categories .category-item .category-image:hover {
  transform: scale(1.1);
}
/*! cataegories responsive start */
@media (max-width: 768px) {
  .categories .section-title {
    width: 100%;
  }
  .categories .category-item {
    flex: unset !important;
  }
  .categories .category-title {
    margin: 20px 0;
  }
}
/*! cataegories responsive end */

/*! categories end */

/*! products start */
.product-wrapper {
  position: relative;
}
.products .product-item {
  text-align: center;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  position: relative;
}
.products .product-list {
  display: flex;
  gap: 20px;
}
.products .product-item .product-img {
  width: 100%;
  height: 100%;
}

.products .product-item img {
  transition: 0.3s ease-in-out all;
  width: 100%;
}
.img1 {
  height: 100%;
}
.products .product-item .img1:hover {
  visibility: hidden;
  opacity: 0;
}
.products .product-item .product-img:hover .img2 {
  opacity: 1;
  visibility: visible;
}
.products .product-item .img2 {
  display: flex;
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 75%;
  visibility: hidden;
}
.products .product-item .product-title {
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
  color: #ff3c20;
}
.products .product-item .product-star {
  display: flex;
  justify-content: center;
  margin: 8px 0;
  column-gap: 2px;
}

.product-info .product-star .bi-star-fill {
  font-size: 12px;
  color: gold;
}
.products .product-item .product-prices {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding-bottom: 15px;
}
.product-item .product-prices .new-price {
  font-weight: 500;
  color: #ff3c20;
}
.product-item .product-prices span {
  color: #7d7d7d;
  font-size: 12px;
  text-decoration: line-through;
}
.products .product-links {
  display: inline-flex;
  flex-direction: column;
  row-gap: 8px;
  position: absolute;
  top: 20px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-out all;
  overflow: hidden;
}
.products .product-item:hover .product-links {
  transform: translate(10px);
  opacity: 1;
  visibility: visible;
}
.products .product-discount {
  width: 40px;
  height: 40px;
  background-color: #ff3c20;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: 500;
}

.product-item .product-links button,
.product-item .product-links a {
  background-color: #000;
  display: inline-flex;
  padding: 5px;
  border-radius: 4px;
  transition: all ease 0.3s;
  color: #fff;
  font-size: 14px;
}
/*! products responsive start */
@media (max-width: 720px) {
  .product-wrapper .product-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
/*! products responsive end */
/*! products end */
/*! campaigns start */
.campaigns .campaigns-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}
.campaigns .campaigns-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
}
.campaigns .campaign-desc {
  font-size: 14px;
  margin: 40px 0;
  color: #fff;
}
.campaigns .campaign-item {
  background-image: url(../img/Kampanyalar/krem.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 35px;
  flex: 1;
}
.campaigns-wrapper:nth-child(1) .campaign-item:nth-child(2) {
  background-image: url(../img/Kampanyalar/saat.jpg) !important;
}
.campaigns-wrapper:nth-child(2) .campaign-item:nth-child(1) {
  background-image: url(../img/Kampanyalar/ayakkabı.jpg);
  flex: 5;
}

.campaigns-wrapper:nth-child(2) .campaign-item:nth-child(2) {
  background-image: url(../img/Kampanyalar/canta.jpg);
  flex: 3;
}
/*! campaign responsive start */

@media (max-width: 768px) {
  .campaigns .campaign-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: unset !important;
  }
}

/*! campaign responsive end */

/*! campaigns end */
/*! brands start */
.brands {
  margin: 40px 0;
}
.brands .brands-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  padding: 30px 5px;
}
.brands .brand-item {
  opacity: 0.4;
  transition: 0.2s ease opacity;
}
.brands .brand-item:hover {
  opacity: 1;
}
/*! brands responsive start */
@media (max-width: 768px) {
  .brands-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .brands-list .brand-item {
    margin: 10px 0;
  }
}
/*! brands responsive end */

/*! brands end */
/*! campaign single start */
.campaign-single {
  background-image: url(../img/Kampanyalar/kampaanyatekresim.jpg);
  background-attachment: fixed;
  padding: 140px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.campaign-single .campaign-wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.campaign-single .campaign-wrapper h2 {
  font-size: 25px;
}
.campaign-single .campaign-wrapper strong {
  font-size: 60px;
  font-weight: 600;
  margin: 20px 0;
}
.campaign-single .campaign-wrapper span {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #fff;
}
.campaign-single .campaign-wrapper a {
  margin-top: 60px;
  border: none;
}
/*! campaign single end */
/*! footer start */
.footer .subscribe-row {
  background-color: #fb3640;
  color: #fff;
  padding: 80px 0;
}
.footer .footer-row-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 200px;
}
.footer .subscribe-title,
.footer .contact-title {
  font-size: 30px;
  max-width: 500px;
  font-weight: 500;
  line-height: 1.2;
}
.footer .subscribe-desc,
.footer .contact-desc {
  font-size: 14px;
  opacity: 0.6;
  margin-top: 4px;
}
.footer .footer-subscribe-bottom,
.footer .footer-contact-bottom {
  margin-top: 40px;
}
.footer .footer-subscribe-bottom form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.footer .footer-subscribe-bottom form > input {
  flex: 1;
  height: 48px;
  border: none;
}
.footer .footer-subscribe-bottom form > button {
  height: 48px !important;
  border-color: #fff;
  background-color: #000;
  color: #fff;
}
.footer .privacy-text,
.footer .privacy-text a {
  font-size: 15px;
  color: #75767c;
  margin-top: 4px;
  font-weight: 500;
}
.footer .subscribe-title,
.footer .contact-title {
  font-size: 30px;
  max-width: 500px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 20px;
}
.footer .subscribe-desc,
.footer .contact-desc {
  font-size: 14px;
  opacity: 0.6;
  margin-top: 4px;
}

.widgets-row {
  padding: 60px 0;
}
.widgets-row .footer-widgets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.widgets-row .footer-widgets > .brand-info {
  flex: 3;
}
.widgets-row .footer-widgets .brand-info i {
  font-size: 35px;
}
.footer-widgets .brand-info .footer-desc {
  color: #fff;
  width: 400px;
  font-size: 14px;
  margin: 15px 0;
}
.footer-widgets .brand-info .footer-contact {
  font-size: 14px;
  color: #fff;
}
.widgets-row .footer-widgets > div {
  flex: 1;
}
.footer-widgets .widget-nav-menu h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.footer-widgets .widget-nav-menu ul {
  margin-top: 20px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.footer-copyright .site-copyright {
  font-size: 15px;
  margin-right: 10px;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .footer .brand-info {
    margin-bottom: 20px;
  }

  .footer-copyright {
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
  }

  .footer-copyright .footer-menu {
    margin-left: unset;
  }
}
@media (max-width: 768px) {
  .footer .footer-row-wrapper {
    flex-direction: column;
    row-gap: 20px;
  }
}

/*! footer  end */
/*! contact  start */
.contact .contact-bottom {
  margin: 30px 0;
}
.contact .contact-titles {
  width: 75%;
}
.contact .contact-titles h4 {
  color: #e51414;
  font-weight: 500;
}
.contact .contact-titles h2 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.contact .contact-titles p {
  font-size: 14px;
  color: #fff;
}
.contact .contact-elements {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 100px;
}

.contact-bottom .contact-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #fff;
}
.contact-bottom .contact-form > div {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 10px);
  font-size: 14px;
  row-gap: 4px;
}
.contact-bottom .contact-form > div label span {
  color: #e51414;
}
.contact-bottom .contact-form > div:nth-child(3),
.contact-bottom .contact-form > div:nth-child(4) {
  flex-basis: 100%;
}
.contact-bottom .contact-form button {
  background-color: #000;
  color: #fff;
}
.contaact-elements .contact-info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.contact-elements .contact-info-item {
  font-size: 14px;
  color: #fff;
}
.contact-info-item .contact-info-texts {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 24px;
}
.contact-elements .contact-street {
  margin: 15px 0;
}
.contact-elements .contact-date {
  margin-top: 10px;
}

/*! contact responsive start */
@media (max-width: 768px) {
  .contact .contact-titles {
    width: 100%;
  }
  .contact-elements {
    flex-direction: column;
    gap: 50px !important;
  }
}
@media (max-width: 576px) {
  .contact-form {
    flex-direction: column;
  }
}
/*! contact responsive end */

/*! contact  end */
/*! account  start */
.account-page {
  margin: 60px 0;
}
.account-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.account-column {
  flex: 1;
}
.account-column h2 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.account-column form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 10px;
  color: #fff;
}
.account-column form div label {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 14px;
}
.account-column button {
  background-color: #e51414;
  color: #fff;
  border-color: #e51414;
  margin-top: 10px;
}
.account-column form .required {
  color: #e51414;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  outline: none;
  border: 1px solid #dee0ea !important;
  padding: 8px 8px 8px 15px;
}
/*! account responsive start */
@media (max-width: 768px) {
  .account-wrapper {
    flex-direction: column;
  }
}
/*! account responsive end */

/*! account  end */
/*! cart  start */
.cart-page {
  margin: 30px 0;
  color: #fff;
}
.cart-page-wrapper {
  display: flex;
  justify-content: space-between;
}
.cart-page .cart-form {
  flex-basis: 60%;
}
.cart-page .free-progress-bar {
  border: 1px solid #dee0ea;
  padding: 20px;
  width: 100%;
  color: #fff;
}
.cart-page .progress-bar-title {
  font-size: 12px;
  color: #fff;
}
.cart-page .progress-bar-title strong {
  color: #e51414;
}
.cart-page .progress-bar {
  width: 100%;
  height: 6px;
  background-color: #f2f3f5;
  margin-top: 8px;
  position: relative;
  z-index: -1;
}
.cart-page .progress-bar span {
  background-color: red;
  width: 30%;
  height: 6px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
}

.cart-form table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  font-size: 14px;
  min-width: 595px;
}
.cart-form table thead th {
  text-align: start;
  font-size: 14px;
  font-weight: 600;
}
.cart-form table > :not(caption) > * > * {
  padding: 8px 0;
}
.cart-form table .product-quantity,
.cart-form table .product-subtotal {
  text-align: center;
}
.cart-form table tbody {
  border-top: 1px solid #dee0ea;
}
.cart-form table tbody .cart-item {
  border-bottom: 1px solid #dee0ea;
}
.cart-form table .cart-image {
  position: relative;
}
.cart-form table img {
  width: 60px;
}
.cart-form table tbody i {
  position: absolute;
  top: 2px;
  left: -6px;
  background-color: #e51414;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.actions-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}
.actions-wrapper .coupon {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.actions-wrapper .coupon input {
  height: 100%;
}
.cart-collaterals {
  flex: 0 0 300px;
  border: 1px solid #dee0ea;
  padding: 30px;
}
.cart-collaterals h2 {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee0ea;
}
.cart-collaterals table {
  width: 100%;
  border-collapse: collapse;
}
.cart-collaterals table * {
  font-size: 14px;
  font-weight: 400;
}
.cart-collaterals table tr:not(:last-child) {
  border-bottom: 1px solid #dee0ea;
}
.cart-collaterals table th {
  text-align: start;
  padding: 20px 0 10px 0;
}
.cart-collaterals table td {
  text-align: end;
  padding: 20px 0 10px 0;
}
.cart-collaterals table ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.cart-collaterals table ul label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 5px;
}
.cart-collaterals .checkout button {
  margin-top: 30px;
  width: 100%;
}
/*! cart  end */
/*! cart responsive  start */

@media (max-width: 992px) {
  .cart-page-wrapper {
    flex-direction: column;
    row-gap: 30px;
  }
}
/*! cart  responsive end */
